<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="project.css">
  </head>
  <body>

    
    <div class="page_wrapper">
      
      <div class="top_row_wrapper">
        <div class="title">Card Counter</div>
      </div>
  
      <div class="buttons">
        <button class="increment_button" onclick="incrementButton()">
          Press Here
        </button>
        <button class="reset_button" onclick="reset()">
          Submit Number
        </button>
      </div>
      
      <button class="finish_button" onclick="finish()">
        Finish Program
      </button>

      

      <div id="replace" class="body">
        <h2>Card Number:</h1>
        <div  class="cardValue" id="incrementText">0</div>
        <h2>Card Counting Value: </h2>
        <p id="displayCard"></p>
        <p id="displayAceProb" onclick="reset()"></p>
        <p id="displayFaceProb" onclick="reset()"></p>
      </div>


    </div>

    <script src="increment.js"></script>

  </body>
</html>